<div class="app-backoficce">
    <div class="container">
        <div class="row">
            <div class="col">
                <!--Header-->
                <div class="row">
                    <!--logo-->
                    <div class="col">
                        <img src="{{logoUrl}}" class="img-fluid" alt="Preving Extranet">
                    </div>
                    <!--F.logo-->
                    <!--Profile-->
                    <div class="col">
                        <div class="module ">
                            Perfil
                        </div>
                    </div>
                    <!--F.profile-->
                </div>
                <!--F.Header-->

                <!--Filtros-->
                <div class="row">
                    <div class="col">
                        <select>
              <option>Area</option>
              <option>Area tipo 2</option>
              <option>Area tipo 3</option>
              <option>Area tipo 4</option>
            </select>
                    </div>
                    <div class="col">
                        <select>
              <option>Tipo</option>
              <option>Tipo tipo 2</option>
              <option>Tipo tipo 3</option>
              <option>Tipo tipo 4</option>
            </select>
                    </div>
                    <div class="col">
                        <select>
              <option>Estado</option>
              <option>Estado tipo 2</option>
              <option>Estado tipo 3</option>
              <option>Estado tipo 4</option>
            </select>
                    </div>
                    <div class="col">
                        <select>
              <option>Gestor</option>
              <option>Gestor tipo 2</option>
              <option>Gestor tipo 3</option>
              <option>Gestor tipo 4</option>
            </select>
                    </div>
                    <div class="col">
                        <select>
              <option>Empresa</option>
              <option>Empresa tipo 2</option>
              <option>Empresa tipo 3</option>
              <option>Empresa tipo 4</option>
            </select>
                    </div>
                </div>
                <!--Filtros-->
                <!--Linea divisoria-->
                <div class="row">
                    <div class="col">
                        --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                    </div>
                </div>
                <!--F.Linea divisoria-->
                <!--Opciones Busqueda-->
                <div class="row">
                    <div class="col">
                        <button>Limpiar Búsqueda</button>
                    </div>
                    <div class="col">
                        <button>Buscar</button>
                    </div>
                </div>
                <!--F.Opciones Busqueda-->
                <!--Cambiar estado-->
                <div class="row">
                    <div class="col">
                        <select>
              <option>Cambiar estado</option>
              <option>Cambiar tipo 2</option>
              <option>Cambiar tipo 3</option>
              <option>Cambiar tipo 4</option>
            </select>
                    </div>
                </div>
                <!--F.Cambiar estado-->
                <!--Tabla-->
                <div class="row">
                    <div class="col">
                        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                            <!-- Checkbox Column -->
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>

                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Weight </th>
                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                            </tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
                    </div>

                </div>
                <!--F.Tabla-->
                <!--Bottom refs-->
                <div class="row">
                    <div class="bottom-menu">
                        <a href="#" class="white-menu">Grupo Preving</a>
                        <a href="#" class="white-menu">Servicios</a>
                        <a href="#" class="white-menu">Productos</a>
                        <a href="#" class="white-menu">Formación</a>
                        <a href="#" class="white-menu">Blog</a>
                        <a href="#" class="white-menu">Aviso Legal</a>
                        <a href="#" class="white-menu">Politica de Cookies</a>
                        <a href="#" class="white-menu">Contacto</a>
                        <a href="#" class="white-menu">Idioma</a>
                        <span class="white-menu">Copiright 2020</span>
                    </div>
                </div>
                <!--F.Bottom refs-->
            </div>
        </div>
    </div>
</div>
