.app-backoficce {
    width: 100%;
}

.app-backoficce table {
    width: 100%;
}

.app-backoficce .module {
    width: 100%;
    box-shadow: 0px 10px 10px -6px black;
    margin: 8px 8px 8px 8px;
    padding: 8px 8px 8px 8px;
    background-color: white;
}

.app-backoficce .module:hover {
    background-color: var(--coolGray);
}

.app-backoficce .module:active {
    background-color: var(--blue);
}
