<div class="user-header">
    <div class="container">
        <div class="row">
            <div class="col">
                <span><a href="#" class="gray-menu">Ayuda</a></span>
                <span><a href="#" class="gray-menu">Mensajes</a></span>
                <span><a href="#" class="gray-menu">Blog</a></span>
                <span><a href="#" class="gray-menu">Contacto</a></span>
                <button>Cerrar sesión</button>
            </div>
        </div>
    </div>
</div>
