<div class="sidebar">
    <div class="container">
        <!--Logo -->
        <div class="row">
            <div class="col">
                <img src="{{logoUrl}}" class="img-fluid medium-img" alt="Preving Extranet">
            </div>
        </div>
        <!--F.Logo-->
        <!--Secciones-->
        <div class="row">
            <div class="col">
                <div *ngFor="let section of sectionSelected">
                    <div class="section">
                        <span>{{section.name}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!--F.Secciones-->
        <!--Espacio en blanco-->
        <div class="row">
            <div class="col">
                <div class="white-space">
                </div>
            </div>
        </div>
        <!--Banner-->
        <!--Info banner-->
        <div class="row" [ngStyle]="{'background-image': 'url(' + bannerObject.imgUrl + ')'}">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>{{bannerObject.title}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <span>{{bannerObject.detail}}</span>
                    </div>
                </div>
                <div class="row" *ngIf="bannerObject.isButton">
                    <div class="col">
                        <button> {{bannerObject.buttonDescription}}</button>
                    </div>
                </div>
            </div>
        </div>
        <!--F.Info Banner-->
        <!--F.Banner-->
        <!--Do you know-->
        <!--Box aun no eres cliente-->
        <div class="row">
            <div class="box" style="text-align: center;">
                <div class="col">
                    <h3>¿Conoces nuestros últimos cursos en formación?</h3>
                </div>
                <div class="row">
                    <div class="col">
                        <span class="big-number">900 649 149</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="button module-button">Infórmate</button>
                    </div>
                </div>
            </div>
        </div>
        <!--F.Box aun no eres cliente-->
        <!--F.Do you know -->
    </div>
</div>