h3 {
    color: var(--blue);
}

.sidebar {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.big-number {
    text-align: center;
    font-size: 25px;
    color: #f28c00;
    font-weight: bold;
}

.section {
    width: 100%;
    text-align: center;
    box-shadow: 0px 10px 10px -6px black;
    margin: 18px 18px 18px 18px;
    padding: 0px 12px 12px 12px;
    background-color: white;
    font-size: x-large;
}

.white-space {
    height: 70px;
}

.section:hover {
    background-color: var(--coolGray);
}

.section:active {
    background-color: var(--blue);
}

.medium-img {
    padding: 50px 50px 50px 50px;
}