<div class="message-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <!--Filtro fechas-->
                <div class="row">
                    <div class="col-md-2">
                        <span>Fecha desde </span>
                    </div>
                    <div class="col-md-2">
                        <input type="date" name="fecha">
                    </div>
                    <div class="col-md-2">
                        <span>Hasta</span>
                    </div>
                    <div class="col-md-2">
                        <input type="date" name="fecha">
                    </div>
                </div>
                <!--tipo-->
                <div class="row">
                    <div class="col-md-2">
                        <span>Tipo de Mensaje</span>
                    </div>
                    <div class="col-md-2">
                        <select>
              <option>Todos</option>
              <option>Enviados</option>
              <option>Recibidos</option>
            </select>
                    </div>
                </div>
                <!--categoria-->
                <div class="row">
                    <div class="col-md-2">
                        <span>Categoria de Mensaje</span>
                    </div>
                    <div class="col-md-2">
                        <select>
              <option>Formularios</option>
              <option>Notificaciones</option>
              <option>Correos electronicos</option>
            </select>
                    </div>
                </div>
                <!--Subcategoria-->
                <div class="row">
                    <div class="col-md-2">
                        <span>Subcategoria de Mensaje</span>
                    </div>
                    <div class="col-md-2">
                        <select>
              <option>Formularios</option>
              <option>Notificaciones</option>
              <option>Correos electronicos</option>
            </select>
                    </div>
                </div>
                <!--Message Input-->
                <div class="row">
                    <div class="col-md-2">
                        <span>Mensaje</span>
                    </div>
                    <div class="col-md-2">
                        <input type="text">
                    </div>
                </div>
                <!--action buttons-->
                <div class="row">
                    <div class="col-md-2">
                        <button>Limiar busquedas</button>
                    </div>
                    <div class="col-md-2">
                        <button>Buscar</button>
                    </div>
                </div>
                <!--Tabla-->
                <div class="row">
                    <div class="col">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                            <!--- Note that these columns can be defined in any order.
                              The actual rendered columns are set as a property on the row definition" -->

                            <!-- Position Column -->
                            <ng-container matColumnDef="position">
                                <th mat-header-cell *matHeaderCellDef> No. </th>
                                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="weight">
                                <th mat-header-cell *matHeaderCellDef> Weight </th>
                                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="symbol">
                                <th mat-header-cell *matHeaderCellDef> Symbol </th>
                                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>

                </div>
                <!--F.Tabla-->

            </div>
        </div>
    </div>
</div>
