<div class="app-engine">
    <div class="container-fluid">
        <div class="row">
            <!--sidebar-->
            <div class="col-md-3">
                <app-sidebar [userLoged]="user" [sectionSelected]="sectionSelected"></app-sidebar>
            </div>
            <!--F.sidebar-->
            <!--right side container-->
            <div class="col">
                <div class="row">
                    <div class="col">
                        <app-user-header></app-user-header>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="margin-bottom: 50px;">
                        <app-modules [userLoged]="user" (sectionActive)="updateSection($event)"></app-modules>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- <app-user-documentation [tablePreving]="tablePreving"></app-user-documentation> -->
                        <!--<app-message-center></app-message-center>-->
                        <app-preving-forms></app-preving-forms>
                        <!-- <app-preving-faq></app-preving-faq> -->
                    </div>
                </div>
            </div>
            <!--F.right side container-->
        </div>
    </div>
</div>
