.login {
    height: 100%;
    width: 100%;
}

.login .cross_banner {
    width: 100%;
}

h2 {
    text-align: center;
    color: var(--blue);
    margin: 12px 12px 12px 12px;
}

h3 {
    color: var(--blue);
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-number {
    text-align: center;
    font-size: 25px;
    color: #f28c00;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


/* Change the link color to #111 (black) on hover */

li a:hover {
    background-color: #111;
}

.left-banner {
    background-image: url('/assets/img/CrossBanner.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.left-banner div {
    margin: 12px 12px 12px 12px;
}

.left-banner h2 {
    color: white;
}

.left-banner span {
    color: white;
}

.left-banner .logo {
    margin: 100px 50px 12px 12px;
    /* flex-grow: 1; */
}

.left-banner ul {
    background-color: #7b0a0a00;
}

.left-banner ul:hover {
    background-color: #7b0a0a00;
}

.menu-bottom-left {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.customBanner {
    flex: 0.7;
}

.customBanner .img-contains {
    background-repeat: round;
}

.right-banner {
    width: 100%;
}

.right-side {
    padding: 20px;
}

.primary-button {
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: var(--blue) !important;
    border: 1px solid var(--blue) !important;
    color: #fff !important;
}

.primary-button:hover {
    background-color: transparent !important;
    border: 1px solid var(--blue) !important;
    color: var(--blue) !important;
}

.bottom-menu {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.bottom-menu .white-menu {
    color: white;
    padding-left: 20px;
}

.bottom-menu .gray-menu {
    color: rgb(151, 151, 151);
    padding-left: 20px;
}

.login-logo {
    width: 100%;
    margin: 12px 12px 12px 12px;
}

.login-logo img {
    width: 300px;
}

.login-padding {
    padding: 10px 200px 100px 100px;
}

.box-align-right a {
    color: rgb(151, 151, 151);
}