<div class="app-preving-faq">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                COSAS
                <mat-accordion>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Self aware panel
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>I'm visible because I am open</p>
                    </mat-expansion-panel>
                </mat-accordion>
                <!--TO DO-->
            </div>
        </div>
    </div>
</div>
