<div class="app-user-documentation">
    <div class="container">
        <!--Filtro centro y Empresa-->
        <div class="row">
            <div class="col">
                <mat-form-field>
                    <mat-label>Empresa</mat-label>
                    <mat-select [formControl]="toppings" class="multiple-selector
                    " multiple>
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Centro</mat-label>
                    <mat-select [formControl]="toppings" multiple>
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!--nombre y tipo de documento-->
        <div class="row">
            <div class="col">
                <input type="text" placeholder="Nombre de documento">
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Tipo de documento</mat-label>
                    <mat-select [formControl]="toppings">
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!--F.nombre y tipo de documento-->
        <!--Filtros-->
        <div class="row">
            <div class="col">
                <input type="date" name="fecha">
            </div>
            <div class="col">
                <input type="date" name="fecha">
            </div>
            <div class="col">
                <button>Busqueda avanzada</button>
            </div>
        </div>
        <!--Filtros--->
        <!--Barra divisoria-->
        <div class="row">
            <div class="col">
                -----------------------------------------------------------------------------------------------------------------------
            </div>
        </div>
        <!--F.Barra divisoria-->
        <div class="row">
            <div class="col">
                <button>Limiar busquedaS</button>
            </div>
            <div class="col">
                <button>Buscar</button>
            </div>
        </div>
        <!--Tabla-->
        <div class="row">
            <div class="col">
                <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                    <div *ngFor="let headerElement of tablePreving.tableHeader">
                        <!-- Checkbox Column -->
                        <div *ngIf="headerElement.fieldName==='select'">
                            <ng-container matColumnDef="select">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                                    </mat-checkbox>
                                </th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                                    </mat-checkbox>
                                </td>
                            </ng-container>
                        </div>

                        <div *ngIf="headerElement.fieldName!=='select'">
                            <ng-container matColumnDef="{{headerElement.fieldName}}">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> <span>{{headerElement.name}}</span></th>
                                <td mat-cell *matCellDef="let element">
                                    <span *ngIf="headerElement.fieldName!=='date'">{{element[headerElement.fieldName]}} </span>
                                    <span *ngIf="headerElement.fieldName==='date'">{{element[headerElement.fieldName]|date}} </span>
                                </td>
                            </ng-container>
                        </div>

                    </div>
                    <tr mat-header-row *matHeaderRowDef="finalTableHeaders"></tr>
                    <tr mat-row *matRowDef="let row; columns: finalTableHeaders;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
            </div>

        </div>
        <!--F.Tabla-->
    </div>
</div>-
