<div class="app-preving-forms">
    <div class="container">

        <!--Empresa y Centro-->
        <div class="row">
            <div class="col-md-4 offset-4">
                <mat-form-field>
                    <mat-label>Empresa</mat-label>
                    <mat-select [formControl]="empresas" multiple>
                        <mat-option *ngFor="let empresa of empresasList" [value]="empresa.id">{{empresa.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field>
                    <mat-label>Centro</mat-label>
                    <mat-select [formControl]="centros" multiple>
                        <mat-option *ngFor="let centro of centrosList" [value]="centro.id">{{centro.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <!--Seleccion de tipo de formulario-->
        <div class="row blue-box">
            <div class="col">
                <span>Selecciona el tipo de formulario</span>
            </div>
            <div class="col">
                <mat-form-field>
                    <mat-label>Tipo de Formulario</mat-label>
                    <mat-select [formControl]="formulariosTipo">
                        <mat-option *ngFor="let form of formularioType" [value]="form.id">{{form.nombre}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="box">


            <!--Formulario-->
            <div class="row">
                <div class="col-md-2">
                    <span>Nombre</span>
                </div>
                <div class="col-md-2">
                    <input type="text">
                </div>
                <div class="col-md-2">
                    <span>Apellidos</span>
                </div>
                <div class="col-md-2">
                    <input type="text">
                </div>
                <div class="col-md-2">
                    <span>Telefono</span>
                </div>
                <div class="col-md-2">
                    <input type="text">
                </div>
                <div class="col-md-2">
                    <span>Email</span>
                </div>
                <div class="col-md-2">
                    <input type="text">
                </div>
                <div class="col-md-2">
                    <span>Empresa</span>
                </div>
                <div class="col-md-2">
                    <input type="text">
                </div>
                <div class="col-md-2">
                    <span>Centro</span>
                </div>
                <div class="col-md-2">
                    <input type="text">
                </div>
                <div class="col-md-2">
                    <span>Observaciones</span>
                </div>
                <div class="col-md-2">
                    <input type="text">
                </div>

            </div>
            <div class="row">
                <div class="col">
                    <button>Enviar</button>
                </div>
            </div>
        </div>

    </div>
</div>
