<div class="login-app">
    <!--Box Login-->
    <div class="container ">
        <div class="row d-flex flex-column">
            <div class="col-md-5 offset-md-3 ">
                <div class="center">
                    <!--Logo-->
                    <div class="row">
                        <div class="col">
                            <img src="{{logoWhiteUrl}}" class="img-fluid" alt="Preving Extranet">
                        </div>
                    </div>
                    <!--F.Logo-->
                    <div class="box" style="text-align: center;">
                        <h2>Acceso Clientes</h2>
                        <div class="row">
                            <div class="col">
                                <span>Nombre de usuario</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="text">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>Contraseña</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span>He olvidado mi contraseña</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="button primary-button ">Acceder
                                  </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Box aun no eres cliente-->
                <div class="row">
                    <div class="col">
                        <div class="box">
                            <h3>¿Aun no eres cliente? LLámanos gratis</h3>
                            <div class="row">
                                <div class="col vertical-center">
                                    <span class="big-number">900 649 149</span>
                                </div>
                                <div class="col">
                                    <button class="button module-button">Solicita Presupuesto</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!--F.Info Banner-->
    <!--Bottom refs-->
    <div class="row">
        <div class="bottom-menu">
            <a href="#" class="white-menu">Grupo Preving</a>
            <a href="#" class="white-menu">Servicios</a>
            <a href="#" class="white-menu">Productos</a>
            <a href="#" class="white-menu">Formación</a>
            <a href="#" class="white-menu">Blog</a>
            <a href="#" class="white-menu">Aviso Legal</a>
            <a href="#" class="white-menu">Politica de Cookies</a>
            <a href="#" class="white-menu">Contacto</a>
            <a href="#" class="white-menu">Idioma</a>
            <span class="white-menu">Copiright 2020</span>
        </div>
    </div>
    <!--F.Bottom refs-->
    <!--F.Box Login-->
</div>
