<div class="app-modules">
    <div class="container">
        <div class="row">
            <!--modules-->
            <div *ngFor="let module of modulesList">
                <div class="col">
                    <div class=" module " (click)="selectModule(module)">
                        <span>{{module.name}}</span>
                    </div>
                </div>
            </div>
            <!--F.modules-->
            <!--favorites button-->
            <div class="col ">
                <div class="module ">
                    Favoritos
                </div>
            </div>
            <!--F.favorites button-->
            <!--filters button-->
            <div class="col ">
                <div class="module ">
                    Filtros
                </div>
            </div>
            <!--F.filters button-->
            <!--filters button-->
            <div class="col ">
                <div class="module ">
                    Perfil
                </div>
            </div>
            <!--F.filters button-->
        </div>
    </div>
</div>
