.app-modules {
    width: 100%;
}

.module {
    width: 100%;
    box-shadow: 0px 10px 10px -6px black;
    margin: 8px 8px 8px 8px;
    padding: 8px 8px 8px 8px;
    background-color: white;
}

.module:hover {
    background-color: var(--coolGray);
}

.module:active {
    background-color: var(--blue);
}
